<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386084480266-r6hj8ttrtc6f0712vc4iuohgaksqgf06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386084480266-r6hj8ttrtc6f0712vc4iuohgaksqgf06</string>
	<key>API_KEY</key>
	<string>AIzaSyBG4C6GEOMLFoysMdP58FPwKszYeMiAMHw</string>
	<key>GCM_SENDER_ID</key>
	<string>386084480266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetTahaGenc.ProperExercise</string>
	<key>PROJECT_ID</key>
	<string>workout-guide-38d66</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-guide-38d66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386084480266:ios:c81a44dcf90439c47546f3</string>
	<key>DATABASE_URL</key>
	<string>https://workout-guide-38d66.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2165652866075879~1494460904</string>
</dict>
</plist>