<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943525936655-isqhqo9grlnpmnk9nrgjsjs400bje79q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943525936655-isqhqo9grlnpmnk9nrgjsjs400bje79q</string>
	<key>API_KEY</key>
	<string>AIzaSyB0E9USKNYI3dtWGM-j6gTsyG5Xmj1MmwE</string>
	<key>GCM_SENDER_ID</key>
	<string>943525936655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetTahaGenc.ProperExercise</string>
	<key>PROJECT_ID</key>
	<string>proper-exercise-dc9f1</string>
	<key>STORAGE_BUCKET</key>
	<string>proper-exercise-dc9f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943525936655:ios:2ce527e2ac2236c746ad7a</string>
	<key>DATABASE_URL</key>
	<string>https://proper-exercise-dc9f1.firebaseio.com</string>
</dict>
</plist>